5keys-nn/phase-*
5keys-nn/trained*
5keys-nn/logs*

6keys-nn/data/*
6keys-nn/dataset/*
6keys-nn/phase*

old/*
old_5*

*.h5
*pycache*

link_tensorboard.txt
*.lnk
*.avi

5keys-nn/BasicCNN*

5keys-nn/*.CT